<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>file.coffee proxy</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class="center">
    <div class="message-box">
      <p>{{ .Content }}</p>
      <p class="sub">Powered by <a href="https://file.coffee">file.coffee</a>, <a
          href="https://github.com/filecoffee/proxy">Source Code</a></p>
    </div>
  </div>
</body>

</html>
